[Desktop Entry]
Name[af]=Installeer op hardeskyf
Name[ar]=التثبيت على القرص الصلب
Name[as]=হাৰ্ড ড্ৰাইভত ইনস্টল কৰক
Name[ast]=Instalar nun discu duru
Name[be]=Інсталяваць на цвёрды дыск
Name[bg]=Инсталиране на твърд диск
Name[bn]=হার্ড-ড্রাইভের মধ্যে ইনস্টল করুন
Name[bn_IN]=হার্ড-ড্রাইভের মধ্যে ইনস্টল করুন
Name[ca]=Instal·la al disc dur
Name[cs]=Nainstalovat do počítače
Name[da]=Installér på harddisk
Name[de]=Auf die Festplatte installieren
Name[de_CH]=Auf die Festplatte installieren
Name[el]=Εγκατάσταση στο σκληρό δίσκο
Name[en_GB]=Install to Hard Drive
Name[eo]=Instali al disko
Name[es]=Instalar en el disco duro
Name[et]=Paigalda kõvakettale
Name[eu]=Instalatu disko gogorrean
Name[fa]=نصب بر روی درایو هارد
Name[fi]=Asenna kiintolevylle
Name[fr]=Installer sur le disque dur
Name[fur]=Instale sul disc fis
Name[ga]=Suiteáil go Tiomántán Crua
Name[gl]=Instalar no disco duro
Name[gu]=હાર્ડ ડ્રાઈવમાં સ્થાપન કરો
Name[he]=התקנה לכונן הקשיח
Name[hi]=हार्ड ड्राइव में संस्थापित करें
Name[hr]=Instaliraj na tvrdi disk
Name[hu]=Telepítés merevlemezre
Name[ia]=Installar sur le disco dur
Name[id]=Pasang ke Harddisk
Name[is]=Setja upp á harða diskinn
Name[it]=Installa sul disco rigido
Name[ja]=ハードドライブへインストール
Name[ka]=მყარ დისკზე ჩადგმა
Name[kk]=Қатты дискіге орнату
Name[kn]=ಹಾರ್ಡ್ ಡ್ರೈವಿಗೆ ಅನುಸ್ಥಾಪಿಸು
Name[ko]=하드 드라이브에 설치
Name[lt]=Įdiegti į kietąjį diską
Name[lv]=Instalēt uz cietā diska
Name[mai]=हार्ड ड्राइवमे संस्थापित करू
Name[mk]=Инсталирај на хард дискот
Name[ml]=ഹാര്‍ഡ് ഡ്റൈവിലേക്ക് ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Name[mr]=हार्ड ड्राइव्ह्हवर प्रतिष्ठापन करा
Name[ms]=Pasang ke Cakera Keras
Name[my]=Hard Drive ထဲသို့ ထည့်သွင်းပါ
Name[nb]=Installer til harddisk
Name[ne]=हार्डड्राइभमा स्थापना गर्नुहोस्
Name[nl]=Naar harde schijf installeren
Name[or]=ହାର୍ଡ ଡ୍ରାଇଭରେ ସ୍ଥାପନ କରନ୍ତୁ
Name[pa]=ਹਾਰਡ ਡਰਾਈਵ ਤੇ ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Instalacja na dysku twardym
Name[pt]=Instalar no Disco Rígido
Name[pt_BR]=Instalar no disco rígido
Name[ro]=Instalează pe discul dur
Name[ru]=Установить на жёсткий диск
Name[si]=දෘඩ තැටියට ස්ථාපනය කරන්න
Name[sk]=Inštalácia na pevný disk
Name[sl]=Namesti v trdi disk
Name[sq]=Instalo te Hard Disk
Name[sr]=Инсталирај на чврсти диск
Name[sr@latin]=Instaliraj na čvrsti disk
Name[ta]=நிலைவட்டுக்கு நிறுவல் துவங்குகிறது
Name[te]=హార్డడ్రైవ్ కు సంస్థాపించండి
Name[tg]=Ба компютер сабт намоед
Name[th]=ติดตั้งลงฮาร์ดดิสก์
Name[tr]=Sabit Diske Kur
Name[uk]=Встановити на жорсткий диск
Name[zh_CN]=安装到硬盘
Name[zh_HK]=安裝至硬碟
Name[zh_TW]=安裝至硬碟
Name=Install to Hard Drive
GenericName[af]=Installeer
GenericName[ar]=ثبّت
GenericName[as]=ইনস্টল
GenericName[be]=Інсталяцыя
GenericName[bg]=_Инсталиране
GenericName[bn]=ইনস্টল করুন
GenericName[bn_IN]=ইনস্টল করুন
GenericName[ca]=_Instal·la
GenericName[cs]=Nainstalovat
GenericName[da]=Installér
GenericName[de]=Installieren
GenericName[de_CH]=Installieren
GenericName[el]=Εγκατάσταση
GenericName[en_GB]=Install
GenericName[eo]=Instali
GenericName[es]=Instalar
GenericName[et]=Paigalda
GenericName[eu]=Instalatu
GenericName[fa]=نصب
GenericName[fi]=Asenna
GenericName[fr]=Installer
GenericName[fur]=Instale
GenericName[ga]=Suiteáil
GenericName[gl]=Instalar
GenericName[gu]=સ્થાપન
GenericName[he]=התקנה
GenericName[hi]=संस्थापित करें
GenericName[hr]=Instaliraj
GenericName[hu]=Telepítés
GenericName[ia]=Installar
GenericName[id]=Pasang
GenericName[is]=Setja upp
GenericName[it]=Installa
GenericName[ja]=インストール
GenericName[ka]=ჩადგმა
GenericName[kk]=Орнату
GenericName[kn]=ಅನುಸ್ಥಾಪಿಸು
GenericName[ko]=설치
GenericName[lt]=Diegti
GenericName[lv]=Instalēt
GenericName[mai]=संस्थापित करू
GenericName[mk]=Инсталирај
GenericName[ml]=ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
GenericName[mr]=इंस्टॉल करा
GenericName[ms]=Pasang
GenericName[my]=ထည့်သွင်းပါ
GenericName[nb]=Installer
GenericName[nds]=nstalleren
GenericName[ne]=स्थापना गर्नुहोस्
GenericName[nl]=Installeren
GenericName[or]=ସ୍ଥାପନ କରନ୍ତୁ
GenericName[pa]=ਇੰਸਟਾਲ
GenericName[pl]=Instalacja
GenericName[pt]=Instalar
GenericName[pt_BR]=Instalar
GenericName[ro]=Instalează
GenericName[ru]=Установить
GenericName[si]=ස්ථාපනය කරන්න
GenericName[sk]=Inštalácia
GenericName[sl]=Namesti
GenericName[sq]=Instaloje
GenericName[sr]=Инсталирај
GenericName[sr@latin]=Instaliraj
GenericName[ta]=நிறுவு
GenericName[te]=సంస్థాపన
GenericName[tg]=Сабт кунед
GenericName[th]=ติดตั้ง
GenericName[tr]=Kur
GenericName[uk]=Встановити
GenericName[zh_CN]=安装
GenericName[zh_HK]=安裝
GenericName[zh_TW]=安裝
GenericName=Install
Comment[af]=Installeer die lewendige CD op die hardeskyf
Comment[ar]=تثبيت القرص الحي على القرص الصلب
Comment[as]=লাইভ CD ক আপোনাৰ হাৰ্ড ডিষ্কত ইনস্টল কৰক
Comment[be]=Інсталяваць live CD на ваш цвёрды дыск
Comment[bg]=Инсталиране на живото CD на вашия твърд диск
Comment[bn]=হার্ড-ডিস্কে লাইভ CD ইনস্টল করুন
Comment[bn_IN]=হার্ড-ডিস্কে লাইভ CD ইনস্টল করুন
Comment[ca]=Instal·leu el CD autònom al vostre disc dur
Comment[cs]=Nainstalovat z Live CD do počítače
Comment[da]=Installér live-CD til din harddisk
Comment[de]=Installieren der Live-CD auf Ihre Festplatte
Comment[de_CH]=Installieren der Live-CD auf die Festplatte
Comment[el]=Εγκαταστήστε το live CD στο σκληρό σας δίσκο
Comment[en_GB]=Install the live CD to your hard disk
Comment[eo]=Instali la senperan KD-on al via disko
Comment[es]=Instalar el CD vivo en su disco duro
Comment[et]=Paigalda laiv CD kõvakettale
Comment[eu]=Instalatu live CDa zure disko gogorrean
Comment[fa]=نصب سی‌دی زنده بر روی هارد دیسک
Comment[fi]=Asenna live-CD kiintolevylle
Comment[fr]=Installer le CD live sur votre disque dur
Comment[fur]=Instale il CD 'live' sul disc fis
Comment[gu]=live CD નું તમારી હાર્ડ ડિસ્કમાં સ્થાપન કરો
Comment[he]=התקנת התקליטור החי לכונן הקשיח
Comment[hi]=अपने हार्ड डिस्क में लाइव सीडी संस्थापित करें
Comment[hr]=Instaliraj sadržaj "live" CD-a na tvrdi disk
Comment[hu]=Live CD telepítése a merevlemezre
Comment[ia]=Installar le LiveCD sur le disco dur
Comment[id]=Instal live CD ke harddisk anda
Comment[is]=Setja upp innihald keyrslugeisladisksins (live-CD) á harða diskinn
Comment[it]=Installa il live CD sul disco rigido
Comment[ja]=ライブ CD をハードディスクにインストール
Comment[kk]=Тірі CD-ін қатты дискіңізге орнату
Comment[kn]=ಲೈವ್ ಚಿತ್ರಿಕೆ ಹಾರ್ಡ್ ಡ್ರೈವಿಗೆ ಅನುಸ್ಥಾಪಿಸಿ
Comment[ko]=라이브 CD를 하드 디스크에 설치합니다
Comment[lt]=Įdiegti tiesiogiai paleidžiamą CD jūsų kietajame diske
Comment[lv]=Instalēt dzīvo CD uz cietā diska
Comment[mai]=अपन हार्ड डिस्कमे लाइव सीडी संस्थापित करू
Comment[mk]=Инсталирајте го живиот диск на Вашиот тврд диск
Comment[ml]=നിങ്ങളുടെ ഹാര്‍ഡ് ഡിസ്കിലേക്ക് ലൈവ് CD ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Comment[mr]=लाइव्ह CD ला तुमच्या हार्ड डिस्कवर इंस्टॉल करा
Comment[nb]=Installer live-CDen til din harddisk
Comment[ne]=तपाईँको हार्ड डिस्कमा लाइभ सीडी स्थापना गर्नुहोस्
Comment[nl]=Installeer de Live-CD op je harde schijf
Comment[or]=ଆପଣଙ୍କ ହାର୍ଡ ଡିସ୍କରେ ପ୍ରତ୍ଯେକ୍ଷ ସି.ଡି.କୁ ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਹਾਰਡ ਡਰਾਈਵ ਤੇ ਲਾਈਵ CD ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja obrazu Live na dysku twardym
Comment[pt]=Instalar o CD Live no seu disco rígido
Comment[pt_BR]=Instalar o live CD no seu disco rígido
Comment[ro]=Instalează CD-ul live pe disc
Comment[ru]=Установить Live CD на жёсткий диск.
Comment[si]=සජීවී CD තැටිය ඔබේ දෘඩ තැටියට ස්ථාපනය කරන්න
Comment[sk]=Inštalácia Live CD na váš pevný disk
Comment[sl]=Namesti z živega CDja na disk
Comment[sq]=Instalojeni CD "live" te hard disku juaj
Comment[sr]=Инсталирајте живи ЦД на ваш чврсти диск
Comment[sr@latin]=Instalirajte živi CD na vaš čvrsti disk
Comment[ta]=உங்கள் நிலைவட்டில் நேரடி குறுவட்டை நிறுவவும்
Comment[te]=మీ హార్డుడిస్కు కి లైవ్ CD ని సంస్ధాపించండి.
Comment[tg]=CD-диски зиндаро ба компютер сабт намоед
Comment[th]=ติดตั้ง live CD ลงฮาร์ดดิสก์
Comment[tr]=Canlı CD'yi sabit diskinize kurun
Comment[uk]=Встановити live CD на жорсткий диск
Comment[zh_CN]=将 Live CD 安装到您的硬盘
Comment[zh_HK]=將即時 CD 安裝至你的硬碟上
Comment[zh_TW]=將 Live CD 安裝至您的硬碟上
Comment=Install the live CD to your hard disk
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;GNOME;GTK;
Exec=/usr/bin/liveinst
Terminal=false
Type=Application
# TRANSLATORS: Icon name, probably should not be translated
Icon=org.fedoraproject.AnacondaInstaller
StartupNotify=true
NoDisplay=true
X-Desktop-File-Install-Version=0.26
